{%extends 'news/_base.html'%}
{%load static%}
{%block content%}
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-9">
            <div id="carousel-1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="border rounded">
                            <div class="row no-gutters">
                                <div class="col-md-5"><img class="img-fluid profile" src="{%static 'images/con.jpeg'%}" height="300"></div>
                                <div class="col-md-7">
                                    <div class="bg-white p-2 px-3 testimonials">
                                        <p class="text-justify">Чистопольская 7, вход где вывеска Profil Doors, 1 этаж направо

<b>Время работы:</b><br>
пн-пт, с 10:00 до 18:00 (13-14 обед)<br>
сб с 10:00 до 15:00 (13-14 обед)<br>
вс выходной<br>

Телефон: 89950071654</p>


  <a href="https://t.me/cubekazan" class="list-group-item list-group-item-action list-group-item-primary">Telegram</a>
  <a href="tel:+79950071654" class="list-group-item list-group-item-action list-group-item-success">WhatsApp</a>
  <a href="mailto:cubekazan@gmail.com" class="list-group-item list-group-item-action list-group-item-info">Почта</a>



</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>

{%endblock %}