{%extends 'news/_base.html'%}
{%block content%}

<main class="container">
    <div class="card d-flex" style="width: 48rem">
        <div class="card-body">
            <!--Table-->
            <table class="table-responsive">
            </table>
            <table class="table table-hover table-forum text-center">
                <!--Table head-->
                <thead>
                <tr>
                    <th></th>
                    <th class="text-left">Отзывы</th>
                    <th><a href="{%url 'create'%}"><button type="button" class="btn btn-warning" >Добавить отзыв</button></a></th>
                </tr>
                {%for r in reviews%}
                </thead>

                <!--Table head-->
                <!--Table body-->
                <tbody>
                <tr>
                    <td scope="row" class="text-nowrap">


                            <i class="fas fa-thumbs-up ml-1"></i>
                        </a>
                        <a href="#" button" class="btn btn-outline-warning btn-sm p-1 m-0 waves-effect">
                        <span class="value">{{r.name}}</span>
                        <i class="fas fa-thumbs-down ml-1"></i>
                        </a>
                    </td>
                    <td class="text-start">
                        <a href="#" class="font-weight-bold blue-text">
                           {{r.reviews}}
                        </a>
                        <div class="my-2">



                            <span>{{r.date}}</span>
                            <div></div>
                        </div>
                    </td>
                    <td>

                            <i class="fas fa-comments ml-1"></i>
                        </a>
                    </td>
                </tr>

                </tbody>
                <!--Table body-->
            </table>

            <!-- Table -->

            <!--Bottom Table UI-->
            <div class="d-flex justify-content-center">
                <!--Pagination -->
                <nav class="my-2 pt-2">
                    <ul class="pagination pagination-circle pg-info mb-0">
                        <!--First-->
                        <li class="page-item clearfix d-none d-md-block">

                        </li>
                        <!--Arrow left-->

                        </li>
                        <!--First-->
                        <li class="page-item clearfix d-none d-md-block">

                        </li>
                    </ul>
                </nav>
                <!--/Pagination -->
            </div>
            <!--Bottom Table UI-->
        </div>
    </div>
    {%endfor%}
</main>
{%endblock%}
