      .position{
        left: 320px;
        top: 30px;
        display: inline-block;
      }


      }
      .left_text{
        margin-left: 40px;
      }
      .right-text{
        margin-left: 150px;
      }
      .to{
        margin-bottom: 20px;
      }
      .color{
        color: black;
      }
      .position-where{
        margin-left: 590px ;
        margin-top: 100px;
      }
      .position-cart{
        margin-top: 50px;
      }
      .text-posiotion-cart{
            margin-left: 100px;
      }
      .text-catalog{
        margin-left: 480px;
      }

      .header-name{
      right: 200px;
      }