{%extends 'shop/base.html'%}


{%block content%}

 {% for c in cat%}
 <div class="card position" style="width: 18rem;">
        <img src="{{c.image_cat.url}}" class="card-img-top" height="200"  alt="...">
        <div class="card-body">
          <h5 class="card-title">{{c.name}}</h5>

        </div>

        <div class="card-body">

          <a href="{% url 'all_product_category' slug=c.slug%}" class="btn btn-primary ">Посмотреть товары</a>
        </div>
      </div>
    </div>

{% endfor%}
{%include 'include/paginator.html'%}
{%endblock%}

