{%extends 'shop/base.html'%}


{%block content%}
<main class="container">
    <div style="display:none" id="speccode">
КОРОБКИ
ДЛЯ ПОДАРКОВ
В КАЗАНИ
        Коробки для посылок
в Казани
        Передать товар на склад маркетплейса легко, если он упакован в соответствующие требованиям коробки
</div>
 {% for c in cat%}
 <div class="card position" style="width: 18rem;">
        <img src="{{c.image_cat.url}}" class="card-img-top" height="200"  alt="...">
        <div class="card-body">
          <h5 class="card-title">{{c.name}}</h5>

        </div>

        <div class="card-body">

          <a href="{% url 'all_product_category' slug=c.slug%}" class="btn btn-warning ">Посмотреть товары</a>
        </div>
      </div>
    </div>

{% endfor%}
    </main>
{%include 'include/paginator.html'%}
{%endblock%}

