{% extends 'shop/base.html'%}
 {%block content%}

 {% for p in products%}
 <div class="card position" style="width: 18rem;">
        <img src="{{p.image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{p.name_product}}</h5>

        </div>

        <div class="card-body">

          <a href="{%url 'product_detail' product_pk=p.pk%}" class="btn btn-primary bot">Посмотреть товар</a>
        </div>
      </div>
    </div>
{% endfor%}
{%endblock%}
