
{% extends 'shop/base.html'%}
{% load static %}

{%block startinfo%}

<div class="container px-4 px-lg-5" xmlns="http://www.w3.org/1999/html" >
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static "images/about company.jpeg" %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Картонные коробки и
              упаковка для макретплейсов</h1>
            <p>Предлагаем картонные коробки в Казани. Все продают оптом от 100 штук, а мы - от 10 штук. Есть доставка в Казани. Оформите заказ в нашем интернет-магазине.</p>
            <a class="btn btn-warning" href="tel:+7(995)007-16-54">Подобрать товар по телефону !</a>
        </div>
    </div>

      {%endblock%}

            {%block map%}
 <div  class="row gx-4 gx-lg-5 align-items-center my-5">
        <h2>Где нас найти ?</h2>
        <div>
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac2bbc2560feba4e927eef515d4f20ca8f356724dd21335a1a9747e7d32b8cdb2&amp;width=600&amp;height=426&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>

      </div>


{%endblock%}
