

<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top" >
          <div class="col mb-3 ">
            <p class="text-muted "></p>
          </div>

          <div class="col mb-3">
            <p class="text-muted ">&copy; 2023 - cubekazan.ru</p>
          </div>

          <div class="col mb-3" >
            <h5>Связь</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="https://t.me/cubekazan" class="nav-link p-0 text-muted">Telegram</b></a></li>

              <li class="nav-item mb-2"><a href="mailto:cubekazan@gmail.com" class="nav-link p-0 text-muted">Электронная почта: <b>cubekazan@gmail.com</b></a></li>
              <li class="nav-item mb-2"><a href="https://cubekazan.ru/tel:+79950071654" class="nav-link p-0 text-muted">WhatsApp: <b>+79950071654</b></a></li>
            </ul>
          </div>

          <div class="col mb-3">
            <h5>Информация о магазине</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a class="nav-link p-0 text-muted text-color-footer color">Адрес Чистопольская ул., 7, Казань</a></li>
              <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">График работы пн-пт 10:00-18:00
                 </a></li>
              <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">сб 10:00-15:00</a></li>
              <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">обед 13:00-14:00</a></li>
           <li class="nav-item mb-2"><a href="/admin/" title="Для входа в админ панель" class="nav-link p-0 text-muted">Для сотрудников</a></li>
            </ul>
          </div>





          </div>
        </footer>