  {%load static%}
<header class="py-3 mb-4 border-bottom border">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
        <img src="{% static "images/photo_2022-12-28_18-21-41.png" %}"" class="bi me-2" width="50" height="52">
        <span class="fs-4">Интернет-магазин<br><small style="">Cubekazan.ru</small></span>
      </a>
        <div class="col-12 col-lg-auto mb-3 mb-lg-0" >
        <p><b>Работаем:</b> <br>пн-пт 9:00‑18:00<br>сб 10:00‑14:00</p>

      </div>
    </div>