<nav aria-label="Page navigation example pag-pos">
  <ul class="pagination justify-content-center">
    <li class="page-item  ">
        {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}" class="page-link ">Previous</a>
        {%endif%}
    </li>

     {% if page_obj.has_next %}
    </li>
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&laquo;</a>
  </ul>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>


    {%endif%}
</nav>